body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: Arial;
}

.login-box {
    width: 300px;
    background: white;
    padding: 30px;
    margin: 120px auto;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    width: 95%;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background: #00c3ff;
}

#msg {
    color: red;
}